certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
docutils==0.14
Flask==1.0.2
idna==3.10
itsdangerous==1.1.0
Jinja2==2.10.3
Markdown==3.0.1
MarkupSafe==1.1.1
Pygments==2.2.0
pymongo==3.7.2
python-dateutil==2.7.3
pytz==2018.5
pyxdg==0.26
PyYAML==5.1
requests==2.32.3
setuptools==75.3.0
six==1.16.0
urllib3==2.2.3
Werkzeug==0.14.1
