h1 {
    padding-bottom: .3em;
    font-size: 1.8em;
    border-bottom: 1px solid #cfd8dc;
}

h2 {
    font-size: 1.2em;
}

a, .title {
    color: #607d8b;
}

.literal, .literal-block {
    background: #f8f8f8;
}

/* paste html form */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

textarea {
    width: 100%;
    height: 10em;
}

/* pygments line numbering */

span:target {
   background-color: #ffa;
}

.linenos a {
    border-bottom: medium none;
    text-decoration: none;
    color: #888;
}

.linenos a:hover {
    text-decoration: underline;
}

.linenodiv {
    margin-right: 0.5em;
}
