{% extends "layout.html" %}

{% block body %}
<form method="post" enctype="multipart/form-data">
  <div>
    <textarea class="form-control" name="c"></textarea>
  </div>
  <div>
    <input class="btn" type="file" name="c">
  </div>
  <div>
    <button type="submit" class="btn btn-default" formaction="/">Paste</button>
    <button type="submit" class="btn btn-default" formaction="/" name="p" value="1">Private</button>
    <button type="submit" class="btn btn-default" formaction="/u">URL</button>
  </div>
</form>
{% endblock %}
