{% extends "layout.html" %}

{% block body %}
<form method="post" enctype="multipart/form-data">
  <div class="form-group">
    <textarea class="form-control" name="c"></textarea>
    <div class="input-group">
      <input class="btn" name="c" type="file">
    </div>
    <div class="input-group form-group">
      <input placeholder="Expiry (in seconds)" class="form-control" name="s" type="number">
    </div>
    <div class="input-group form-group">
      <button type="submit" class="btn btn-default" formaction="/">Paste</button>
      <button type="submit" class="btn btn-default" formaction="/" name="p" value="1">Private</button>
      <button type="submit" class="btn btn-default" formaction="/u">URL</button>
    </div>
  </div>
</form>
{% endblock %}
