.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

textarea {
    width: 100%;
    height: 10em;
}

.linenum {
    text-align: right;
}

.linenum a {
    border-bottom: medium none;
    text-decoration: none;
    color: #888;
}

.code div {
    margin-left: 0.5em;
}