.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

textarea {
    width: 100%;
    height: 10em;
}

.linenos a {
    border-bottom: medium none;
    text-decoration: none;
    color: #888;
}

.linenos a:hover {
    text-decoration: underline;
}

.linenodiv {
    margin-right: 0.5em;
}