body, input, textarea, button {
    color: #333;
    font: 0.8em Helvetica, arial, freesans, clean, sans-serif;
}

body {
    word-wrap: break-word;
    max-width: 80ch;
}

h1.title {
    color: #455a64;
}

h1 {
    padding-bottom: .3em;
    font-size: 1.8em;
    line-height: 1.2;
    border-bottom: 1px solid #cfd8dc;
}

h2 {
    font-size: 1.2em;
}

code, tt, pre {
    font: 85% Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0.2em 0px;
    line-height: 1.45;
    border-radius: 3px;
    background: rgba(144, 164, 174, .15);
}

pre {
    padding: .7em;
}

a {
    color: #607d8b;
}

.code .generic.output {
    color: #78909c;
}

.code .generic.prompt {
    color: #9e9e9e;
    font-weight: bold;
}

.code .operator {
    color: #ff5252;
}
