{% extends "layout.html" %}

{% block body %}
<pre>
ptpb

ptpb is a simple pastebin.

USE:

From the web: <a href="/f">Make a paste</a>

From the command line:
command | curl -F "c=&lt;-" https://ptpb.pw

EXAMPLE:

cat /etc/resolv.conf | curl -F "c=&lt;-" https://ptpb.pw
http://ptpb.pw/p/b55743ba

OTHER INFO:
Pastes will be kept as long as feasible, they may be deleted eventually though. Don't use ptpb for things you need to
keep around forever.

Alias it for easier access:
alias ptpb='curl -F "c=<-" https://ptpb.pw'

<strike>SSL coming soon.</strike> SSL is now enabled and forced. 

SOURCE:
<a href="https://github.com/silverp1/pb">https://github.com/silverp1/pb</a>

AUTHORS:
<a href="https://github.com/silverp1">Joe Pettit</a>, <a href="https://github.com/buhman">Zack Buhman</a>
</pre>
{% endblock %}
