{% extends "layout.html" %}

{% block body %}
<pre>
<h2>ptpb</h2>

ptpb is a lightweight pastebin (and url shortener) built using flask.

<h3>abstract</h3>

Create a new paste from the output of 'cmd':

    cmd | curl -F c=@- https://ptpb.pw

A <a href="/f">HTML form</a> is also provided for convenience paste
and file-uploads from web browsers.

<h3>terminology</h3>

<strong>id</strong>

    One of:

    - a four character base66 paste id

    - a four character base66 paste id, followed by a period-delimiter
      and a mimetype extension

    - a three character base66 url redirect id

    A mimetype extension, when specified, is first matched with the
    with a matching mimetype known to the system, then returned in the
    HTTP response headers.

<strong>lexer</strong>

    A 'lexer' is an alias of a pygments lexer; used for syntax
    highlighting.

<strong>uuid</strong>

    The string representation of a RFC 4122 UUID. These are used as a
    weak form of 'shared secret' that, if known, allow the user to
    modify the pastes.

<h3>routes</h3>

<strong>GET /&lt;id&gt;</strong>

    Retrieves paste or url redirect.

    If a paste: returns the matching paste, verbatim and unmolested.

    If a url redirect: returns HTTP code 301 with the location of the
    redirect.

<strong>GET /&lt;id&gt;/&lt;lexer&gt;</strong>

    Like the above, but decodes and applies syntax highlighting to
    pastes via HTML/CSS.

    Line numbering and fragments are included, and can be used to link
    to individual lines within the paste.

<strong>POST /</strong>

    Creates a new paste; returns GET URL and secret UUID.

    Only multipart/form-data is supported; other content types are
    not tested.

    The 'name' disposition extension parameter must be present, and
    its value must be 'c'.

    Unless the 'filename' disposition extension parameter is
    specified, the form data is decoded. The value of the 'filename'
    parameter is split by period-delimited extension, and appended to
    the location in the response.

<strong>PUT /&lt;uuid&gt;</strong>

    Replaces the content of the paste that matches the provided UUID.

    Form submission is otherwise identical to POST.

<strong>DELETE /&lt;uuid&gt;</strong>

    Deletes the paste that matches the provided UUID.

<strong>POST /u</strong>

    Creates a new url redirect (short url).

    The form content will be decoded, and truncated at the first
    newline or EOF, whichever comes first. The result of that is then
    returned in a HTTP 301 response with the form content in the
    Location header.

<strong>GET <a href="/f">/f</a></strong>

    Returns HTML form that can be used for in-browser paste creation
    and file uploads.

<strong>GET <a href="/s">/s</a></strong>

    Returns paste statistics; currently paste count and total size.

<strong>GET <a href="/l">/l</a></strong>

    Returns available lexers, newline-delimited, with space-delimited
    aliases.

<h3>examples</h3>

No really, how in the name of Gandalf's beard does this actually work?
Show me!

Create a paste from the output of 'dmesg':

    $ dmesg | curl -F c=@- https://ptpb.pw
    https://ptpb.pw/QQQP
    uuid: 17c5829d-81a0-4eb6-8681-ba72f83ffbf3

Take that paste, and replace it with a picture of a baby skunk:

    $ curl -X PUT -F c=@- https://ptpb.pw/17c5829d-81a0-4eb6-8681-ba72f83ffbf3 < baby-skunk.jpg
    https://ptpb.pw/QQQP updated.

Append '.jpg' to hint at browsers that they should probably display a
jpeg image:

    https://ptpb.pw/QQQP.jpg

Actually, that picture is already on imgur; let's delete that paste
and make a shorturl instead:

    $ curl -X DELETE https://ptpb.pw/17c5829d-81a0-4eb6-8681-ba72f83ffbf3
    https://ptpb.pw/QQQP deleted.
    $ curl -F c=@- https://ptpb.pw/u <<< https://i.imgur.com/CT7DWCA.jpg
    https://ptpb.pw/QQ0

Well, it <em>is</em> shorter..

Put my latest 'hax.py' script on ptpb:

    $ curl -F c=@- https://ptpb.pw < hax.py
    https://ptpb.pw/QQQ_
    uuid: [redacted]

Now I want to syntax highlight and draw attention to one particular
line:

    https://ptpb.pw/QQQ_/py#L-24

Like it? Put a convience shell function in your bashrc:

    pb () { curl -F "c=@${1:--}" https://ptpb.pw }

This uploads paste content stdin unless an argument is provided,
otherwise uploading the specified file.

Now just:

    $ command | pb
    $ pb filename

<h3>authors</h3>
<a href="https://github.com/silverp1">Joe Pettit</a>
<a href="https://buhman.org">Zack Buhman</a>

<h3>duck sauce</h3>
<a href="https://github.com/silverp1/pb">https://github.com/silverp1/pb</a>
</pre>
{% endblock %}
